*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #0A0C20;
}
a{
    text-decoration: none;
}

@media (min-width: 360px) {
    .navigation{
        z-index: 100;
        position: sticky;
        top: 0;
        width: 100vw;
        height: 70px;
        background: yellow;
    }
    .logo{
        padding: 10px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0015f8;
    }
    .logo-img{
        height: 50px;
    }
    .logo-header{
        font-size: 20px;
        font-weight: 800;
        text-align: left;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #000000;
    }
    .nav-section{
        z-index: 100;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 10px 0px 40px 15px;
        // background-color: #169c64;
        background-color: #000000;
        margin-left: 10px;
        width: 250px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        overflow: visible;
        transition: all 0.7s ;
        clip-path: circle(30px at 200px 35px);
        #nav-section-bar-menu{
            opacity: 1;
            cursor: pointer;
        }
    }
    .nav-section:hover{
        z-index: 100;
        clip-path: circle(75%);
        transition: all 0.5s;
        #nav-section-bar-menu{
            opacity: 0;
        }
    }
    .nav-section-bar{
        margin-bottom: -20px;
    }
    .nav-section-bar-header{
        color: white;
        font-size: 20px;
        margin-top: 10px;
    }
    #nav-section-bar-menu{
        z-index: 100;
        border-radius: 8px;
        padding: 5px;
        background-color: #169c64;
        height: 35px;
        position: relative;
        left: 80px;
        top: -30px;
    }
    .nav-section li{
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        background-color: #0015f8;
        width: 80%;
        height: 35px;
        margin: 7px;
        border-radius: 8px;
    }
    .nav-section li:hover{
        z-index: 100;
        transition: all 0.4s ease;
        background-color: #169c64;
    }
    .nav-section-a{
        z-index: 10;
        text-decoration: none;
        color: #000000;
        // background-color: aqua;
        width: 100%;
        padding-top: 5px;
        height: 35px;
        margin: 10px;
        font-size: 18px;
        font-weight: 550;
        text-align: center;
    }
    .profile{
        z-index: 10;
        margin-top: 30px;
    }
    .profile-img-container{
        z-index: 10;
        margin: 0 auto;
        width: 280px;
        height: 320px;
        background-color: #169c64;
        clip-path: polygon(20% 0, 82% 5%, 95% 89%, 4% 95%);
        text-align: center;
    }
    .profile-img{
        z-index: 10;
        margin-top: -20px;
        height: 380px;
        transition: all 0.5s;
    }
    .profile-img:hover{
        margin-top: 0;
        transition: all 0.5s;
        transform: scale(1.12);
    }
    .profile-title{
        margin: 0 auto;
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .profile-title-name{
        font-size: 30px;
        padding-bottom: 20px;
    }
    .profile-title-info{
        letter-spacing: 0.2px;
        text-align: center;
        text-indent: 30px;
        font-size: 15px;
        line-height: 20px;
    }
    .works{
        color:white
    }
    .works-tittle{
        color: white;
        font-size: 20px;
        font-weight: 700;
        padding-top: 30px;
    }
    .works-doc, .works-ecom, .works-app{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        padding: 10px;
    }
    .works-doc-tittle, .works-ecom-tittle, .works-app-tittle{
        font-size: 15px;
        margin-top: -50px;
    }
    .works-doc-cover{
        margin-left: -50px;
        
    }
    #works-cover{
        border-radius: 10px;
        height: 100px;
    }
}

@media (min-width: 576px) {
    h2 {
        background: #fcfcff;
    }
}

@media (min-width: 768px) { 
    h2 {
        background: #000000;
    }
}

@media (min-width: 990px) { 
    h2 {
        background: #0015f8;
    }
}

@media (min-width: 1200px) { 
    h2 {
        background: #169c64;
    }
}